* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    #00ffff 11.42%,
    rgba(0, 255, 255, 0) 100%
  );
}

h1 {
  text-align: center;
  margin: 15px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

button {
  width: 120px;
}

form {
  text-align: center;
}

#weather-output {
  display: flex;
  justify-content: center;
}

#weather-output div {
  width: 321px;
  height: 445px;
  margin-top: 15px;
  /* position: absolute;
  top: 150px;
  left: 480px; */
  border-radius: 15px;
  background: #d9d9d9;
  text-align: center;
}
