* {
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");

body {
  background: linear-gradient(
    to bottom,
    #00ffff 11.42%,
    rgba(0, 255, 255, 0) 100%
  );
}

h1 {
  text-align: center;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

#buttons {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

button {
  width: 120px;
  font-family: "Ubuntu", sans-serif;
}

form {
  text-align: center;
}

input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  outline: none;
}

#weather-output {
  display: flex;
  justify-content: center;
}

#weather-output div {
  width: 321px;
  height: 445px;
  margin-top: 15px;
  /* position: absolute;
  top: 150px;
  left: 480px; */
  border-radius: 15px;
  background: #d9d9d9;
  text-align: center;
}

/* grab divs children and center those */
#weather-output div * {
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 30px;
}

#temp {
  font-size: 32px;
}
