* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 15px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

#weather-output {
  width: 321px;
  height: 445px;
  background-color: yellow;
}
